<div class="flex container justify-center">
  <div class="max-w-xs rounded shadow-lg my-2">
    <img class="w-full" src="Octocat.png" alt="Github logo">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">What's your geek flavour?</div>
      <p class="text-grey-darker text-base">
        Thanks for giving me access to your user. I promise to only use publicly available info. I'm guessing your favourite language is...
      </p>
      <div class="py-1 overflow-x-scroll whitespace-nowrap text-xs">
        <p id="content">Working out your favourite language...</p>
      </div>
      <div class="py-1 overflow-x-scroll whitespace-nowrap">
        <p id="answer"></p>
      </div>
    </div>
    <div class="px-6 py-4">
      <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#<span id="language" class="lowercase">language?</span></span>
      <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#geekflavour</span>
    </div>
  </div>
</div>

